// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background-image: linear-gradient(rgba(237, 168, 206, 0.8), rgba(169, 200, 232, 0.8)),
    url("https://cdn.glitch.com/530d92f6-375b-4a27-915c-2ea2fbce1d73%2F_IMG_7785-4-2.jpg?v=1589248278810"); 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1 {
  font-size: 2.25rem;
  font-family: "playlistscript";
}
@include media-breakpoint-up(lg) {
  header.masthead {
    height: 180vh;
    min-height: 50rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
  }
  p {
    font-size: 1.15rem;
  }
  h1 {
    font-size: 8rem;
    font-family: "playlistscript";
  }
  h3 {
    font-size: 8rem;
  font-family: "Nanum Gothic";
  }
}
@include media-breakpoint-up(xl) {
  header.masthead h1 {
    font-size: 8rem;
    font-family: "playlistscript";
  }
}

