/* CSS files add styling rules to your content */
@font-face {
    font-family: "Now Bold";
    src: url("/fonts/now.bold.otf") format("opentype");
}

@font-face {
    font-family: "Now Medium";
    src: url("/fonts/now.medium.otf") format("opentype");
}

:root {
  --pink1: #FFEFF9;
  --pink2: #FFBBDE;
  --pink3: #EF82B4;
  --pink4: #D4307B;
  --purple1: #E4E4FF;
  --purple2: #B2B6FF;
  --purple3: #9A9EF1;
  --purple4: #5157DB;
  --blue1: #F0F8FF;
  --blue2: #C6E2FF;
  --blue3: #8FC6FD;
  --blue4: #3997F1;
  --green1: #EFFFF9;
  --green2: #B7F4DF;
  --green3: #38B48A;
  --green4: #0B8D60;
}


html, body {
  font-family: helvetica, arial, sans-serif;
  /*height: 6000px;*/
  background: linear-gradient(var(--pink1) 0%, #C6E2FF 75%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;

}

section {
  margin-bottom: 5em;
}

div, span {
  display: inline-block;
}

h1, h2, h3 {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}


p {
  font-family: 'Lato', sans-serif;
}

.row {
  display: flex;
  align-items: stretch;
}

.col {
  flex: 1;
}
  
.column {
  flex: 1;
}

@media only screen and (max-width: 992px) {
  .column {
    flex: 100%;
  }
}

.bio {
  text-align: left;
}

.location-tag {
  background-color: white;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin: auto;
  display: inline-block;
}

.social-icons {
  margin: 1rem;
  display: block;
}

#sf-bay {
  color: var(--pink4);
}

#berkeley {
  color: var(--blue4); 
}

#resume {
  color: var(--pink4); 
}

.location-icon {
  background-color: white;
  border-radius: 25px
}

.resume-icon {
  background-color: white;
  border-radius: 25px
}

#sf-bay-icon {
  color: var(--pink3);
}

#berkeley-icon {
  color: var(--blue3)
}

#resume-icon {
  color: var(--pink3)
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  font-family: "Lato";
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  color: var(--pink4);
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  
}

.navbar a:hover {
  color: var(--pink4);
}

/* EXPERIENCE */
.experience-box {
  border-radius: 25px;
  text-align: left;
  padding: 15px 15px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
}

.exp-thumbnail {
  position: relative;
  border-radius: 20px;
  object-fit: cover;
  border: 5px solid;
  float: left;
  margin: 5px;
  display: flex;
  width: 100%;
  height: auto;
}

.experience-card {
  background: #ffffff;
  box-shadow: 0 1px 4px rgb(0 0 0 / 4%);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  margin-bottom: 10px;
  width: 100%;
}

.experience-thumbnail {
  object-fit: contain;
  display: block;
  width: 100%;
  min-height: 1px;
  margin-bottom: 5px;
}

#sp-thumbnail {
  border-color: var(--pink2);
}

#sp-thumbnail:hover {
  border-color: var(--pink3);
  transition: 0.3s;
}

#aa-thumbnail {
  border-color: var(--purple2);
}

#aa-thumbnail:hover {
  border-color: var(--purple3);
  transition: 0.3s;
}

#fv-thumbnail {
  border-color: var(--blue2);
}

#fv-thumbnail:hover {
  border-color: var(--blue3);
  transition: 0.3s;
}

#speak-thumbnail {
  border-color: var(--green2);
}

#speak-thumbnail:hover {
  border-color: var(--green3);
  transition: 0.3s;
}

.exp-thumbnail:hover {
  border: 5px solid;
  transition: 0.3s;
}

.exp-name {
  text-align: left;
}

.exp-headline {
  font-style: italic;
  font-weight: bold;
  margin-top: 0px;
}

.experience-links {
  font-weight: bold;
}

/* START: SOCIAL ICONS */
i.fas, i.fab {
  color: var(--pink3);
  padding: 2px;
}

.fa-file {
  font-size: 1.75rem;
}

.fa-linkedin {
  font-size: 2rem;
}

.fa-envelope {
   
}

i.fas:hover, i.fab:hover {
  color: var(--pink4);
  transform: scale(1.05);
  transition: 0.3s;
}

/* END: SOCIAL ICONS */


.pfp {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  background-color: white;
}

.pfp:hover {
  /*transform: translate(-0.1em, -0.1em);*/
  transform: scale(1.05);
  box-shadow: 5px 5px 30px 5px #FFBBDE;
  transition: 0.3s;

}

.sp-links {
  color: var(--pink3);
  font-weight: bold;
}

.sp-links:hover {
  color: var(--pink4);
}

.aa-links {
  color: var(--purple3);
  font-weight: bold;
}

.aa-links:hover {
  color: var(--purple4);
}

.fv-links {
  color: var(--blue3);
  font-weight: bold;
}

.fv-links:hover {
  color: var(--blue4);
}

.speak-links {
  color: var(--green3);
  font-weight: bold;
}

.speak-links:hover {
  color: var(--green4);
}

.voya-links {
  color: var(--green3);
  font-weight: bold;
}

.voya-links:hover {
  color: var(--green4);
}

#linkedin-link {
  color: var(--blue4);
}

#linkedin-link:hover {
  color: var(--blue4);
}


.portfolio {
  color: white;
  background-color: var(--blue4);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  border: 5px;
  margin: 5px;
  display: inline-block;
} 

#googleform {
  background: linear-gradient(var(--purple1) 0%, var(--pink1) 75%);
  border-width: 5px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 0px;
}

#googleform:hover {
  border-color: var(--blue1)
}

#page-container {
  position: relative;  
}

#content-wrap {
  padding-bottom: 10rem;    /* Footer height */
  margin-bottom: 0;
}

#footer {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 10rem;
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 10px;
/* Footer height */
}

#logofooter {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#logofooter:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.interviewlogos {
  max-width: 75% !important;
  width: 75% !important;
  height: auto !important;
  padding-bottom: 6vw;
}

.interviewlogos:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media only screen and (max-width: 992px) { /*minimizing web browser*/
  .w3-half {
    width: 100%;
  }
  
  .linkedinpost {
    width: 100%;
  }
  
  .snapwidget-widget {
    width: 50%;
  }
  
}

@media only screen and (max-width: 768px) {
  #googleform {
    width: 95%;
  }

  
  p {
    margin: 10px; 
  }
}

/*
@media only screen and (max-width: 720px) {
  .threecol-ig {
    display: block;
  }
  
  .sixcol-ig {
    display: none;
  }
}

@media only screen and (min-width: 721px) {
  .threecol-ig {
    display: none;
  }
  
  .sixcol-ig {
    display: block;
  }
}
*/